# WMG data: cleaning

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/alexbor/Desktop/Data Analytics/Immersion/Submissions/6. Advanced Analytics/Project_Waste in the world'

In [3]:
#Import dataframe 

df_gdp = pd.read_csv(os.path.join(path,'Original data','UNdata_Export_20230627_192219111_GDP.csv'), low_memory=False)

# Exploring the dataframe

In [4]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10506 entries, 0 to 10505
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  10506 non-null  object
 1   Year             10506 non-null  int64
 2   Item             10506 non-null  object
 3   Value            10506 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 328.4+ KB

In [5]:
df_gdp.shape

(10506, 4)

In [6]:
df_gdp.head()

  Country or Area  Year                          Item       Value
0     Afghanistan  2021  Gross Domestic Product (GDP)  372.548875
1     Afghanistan  2020  Gross Domestic Product (GDP)  516.866543
2     Afghanistan  2019  Gross Domestic Product (GDP)  500.522664
3     Afghanistan  2018  Gross Domestic Product (GDP)  502.056771
4     Afghanistan  2017  Gross Domestic Product (GDP)  530.149831

In [7]:
#Checking for mix-typed columns 

for col in df_gdp.columns.tolist():
  weird = (df_gdp[[col]].applymap(type) != df_gdp[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_gdp[weird]) > 0:
    print (col)

In [8]:
col

'Value'

In [9]:
#Fixing data type for Value

df_gdp['Value'] = df_gdp['Value'].astype('int64')

In [10]:
df_gdp.dtypes

Country or Area    object
Year                int64
Item               object
Value               int64
dtype: object

In [11]:
#Fixing data type for Time

df_gdp['Year'] = df_gdp['Year'].astype('str')

# Describing data

In [12]:
df_gdp.describe()

               Value
count   10506.000000
mean     9280.336570
std     17890.075851
min        34.000000
25%       734.000000
50%      2342.500000
75%      9295.750000
max    234317.000000

In [13]:
std_dev = df_gdp['Value'].std()

In [14]:
std_dev

17890.075851477588

In [15]:
mean = df_gdp['Value'].mean()

In [16]:
mean

9280.336569579287

In [17]:
two_std_devs_away = mean + (2 * std_dev)

In [18]:
two_std_devs_away

45060.488272534465

In [19]:
two_std_devs_away_1 = mean - (2 * std_dev)

In [20]:
two_std_devs_away_1

-26499.815133375887

In [21]:
#Defining outliers 
outliers = df_gdp[(df_gdp['Value'] < two_std_devs_away_1) | (df_gdp['Value'] > two_std_devs_away)]

In [22]:
outliers

      Country or Area  Year                          Item  Value
163           Andorra  2014  Gross Domestic Product (GDP)  45619
166           Andorra  2011  Gross Domestic Product (GDP)  51360
167           Andorra  2010  Gross Domestic Product (GDP)  48190
168           Andorra  2009  Gross Domestic Product (GDP)  49750
169           Andorra  2008  Gross Domestic Product (GDP)  53721
...               ...   ...                           ...    ...
10046   United States  2010  Gross Domestic Product (GDP)  48360
10047   United States  2009  Gross Domestic Product (GDP)  46928
10048   United States  2008  Gross Domestic Product (GDP)  48315
10049   United States  2007  Gross Domestic Product (GDP)  47810
10050   United States  2006  Gross Domestic Product (GDP)  46089

[474 rows x 4 columns]

# Missing values

In [23]:
df_gdp.isnull().sum()

Country or Area    0
Year               0
Item               0
Value              0
dtype: int64

**No missing values found**

# Checking for duplicates

In [24]:
df_dups = df_gdp[df_gdp.duplicated()]

In [25]:
df_dups

Empty DataFrame
Columns: [Country or Area, Year, Item, Value]
Index: []

**NO duplicates found**

# Changing names of the columns

In [26]:
df_gdp = df_gdp.rename(columns={'Value':'GDP', 'Country or Area': 'Country'})

In [27]:
df_gdp

           Country  Year                          Item  GDP
0      Afghanistan  2021  Gross Domestic Product (GDP)  372
1      Afghanistan  2020  Gross Domestic Product (GDP)  516
2      Afghanistan  2019  Gross Domestic Product (GDP)  500
3      Afghanistan  2018  Gross Domestic Product (GDP)  502
4      Afghanistan  2017  Gross Domestic Product (GDP)  530
...            ...   ...                           ...  ...
10501     Zimbabwe  1974  Gross Domestic Product (GDP)  836
10502     Zimbabwe  1973  Gross Domestic Product (GDP)  718
10503     Zimbabwe  1972  Gross Domestic Product (GDP)  603
10504     Zimbabwe  1971  Gross Domestic Product (GDP)  503
10505     Zimbabwe  1970  Gross Domestic Product (GDP)  449

[10506 rows x 4 columns]

# Further wrangling

In [28]:
#Deleting the columm 'Item'
df_gdp = df_gdp.drop(columns=['Item'])

In [29]:
df_gdp.head()

       Country  Year  GDP
0  Afghanistan  2021  372
1  Afghanistan  2020  516
2  Afghanistan  2019  500
3  Afghanistan  2018  502
4  Afghanistan  2017  530

In [30]:
#Checking Country names

unique_values = df_gdp['Country'].unique()

In [31]:
unique_values

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia (Plurinational State of)',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei Darussalam', 'Bulgaria',
       'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
       'Canada', 'Cayman Islands', 'Central African Republic', 'Chad',
       'Chile', 'China (mainland)', 'China, Hong Kong SAR',
       'China, Macao Special Administrative Region', 'Colombia',
       'Comoros', 'Congo', 'Cook Islands', 'Costa Rica', "Côte d'Ivoire",
       'Croatia', 'Cuba', 'Curaçao', 'Cyprus', 'Czechia',
       "Democratic People's Republic of Korea",
       'Democratic Republic of the Congo', 'Denmark', 'Djibouti',
       'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'Former Czechoslovakia',
       'Former Ethiopia', 'Former Netherlands Antilles', 'Former Sudan',
       'Former USSR', 'Former Yugoslavia', 'France', 'French Polynesia',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Greenland', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',
       'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran, Islamic Republic of', 'Iraq', 'Ireland',
       'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
       'Kenya', 'Kingdom of Eswatini', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', "Lao People's Democratic Republic", 'Latvia',
       'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein',
       'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',
       'Mauritius', 'Mexico', 'Micronesia (Federated States of)',
       'Monaco', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Puerto Rico', 'Qatar', 'Republic of Korea',
       'Republic of Moldova', 'Republic of North Macedonia', 'Romania',
       'Russian Federation', 'Rwanda', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa',
       'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'State of Palestine', 'Sudan', 'Suriname',
       'Sweden', 'Switzerland', 'Syrian Arab Republic', 'Tajikistan',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Türkiye', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania: Mainland',
       'United Republic of Tanzania: Zanzibar', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela (Bolivarian Republic of)', 'Viet Nam', 'Yemen',
       'Yemen: Former Democratic Yemen',
       'Yemen: Former Yemen Arab Republic', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [32]:
df_gdp['Country'].value_counts()

Afghanistan                  52
Mexico                       52
Monaco                       52
Mongolia                     52
Montserrat                   52
                             ..
Former USSR                  21
Sint Maarten (Dutch part)    17
Curaçao                      17
South Sudan                  14
Sudan                        14
Name: Country, Length: 220, dtype: int64

In [33]:
#Checking unique values for 'Year'

unique_values_2 = df_gdp['Year'].unique()

In [34]:
unique_values_2

array(['2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014',
       '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006',
       '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998',
       '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990',
       '1989', '1988', '1987', '1986', '1985', '1984', '1983', '1982',
       '1981', '1980', '1979', '1978', '1977', '1976', '1975', '1974',
       '1973', '1972', '1971', '1970'], dtype=object)

In [40]:
#Deleting the unnecessary values from column 'Year'

values_to_remove = ['2014',
       '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006',
       '2005', '2004', '2003', '2002', '2001', '2000', '1999', '1998',
       '1997', '1996', '1995', '1994', '1993', '1992', '1991', '1990',
       '1989', '1988', '1987', '1986', '1985', '1984', '1983', '1982',
       '1981', '1980', '1979', '1978', '1977', '1976', '1975', '1974',
       '1973', '1972', '1971', '1970']

In [41]:
#Rewriting the df_gdp
df_gdp = df_gdp[~df_gdp['Year'].isin(values_to_remove)]

In [42]:
df_gdp.shape

(1484, 3)

In [43]:
unique_values_3 = df_gdp['Year'].unique()

In [44]:
unique_values_3

array(['2021', '2020', '2019', '2018', '2017', '2016', '2015'],
      dtype=object)

In [45]:
df_gdp['Year'].value_counts()

2021    212
2020    212
2019    212
2018    212
2017    212
2016    212
2015    212
Name: Year, dtype: int64

In [46]:
df_gdp.head()

       Country  Year  GDP
0  Afghanistan  2021  372
1  Afghanistan  2020  516
2  Afghanistan  2019  500
3  Afghanistan  2018  502
4  Afghanistan  2017  530

# Exporting the dataframe

In [47]:
df_gdp.to_csv(os.path.join(path, 'Prepared Data', 'GDP_wrangeled.csv'))