# Emissions data: cleaning

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/alexbor/Desktop/Data Analytics/Immersion/Submissions/6. Advanced Analytics/Project_Waste in the world'

In [3]:
#Import dataframe 

df_waste = pd.read_csv(os.path.join(path,'Original data','country_solid-waste-disposal_emissions_original_set.csv'), index_col = False)

# Exploring data

In [4]:
df_waste.head()

,iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity,created_date,modified_date
0,ABW,2017-01-01 00:00:00,2017-12-31 00:00:00,solid-waste-disposal,ch4,487.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:56.869095
1,ABW,2017-01-01 00:00:00,2017-12-31 00:00:00,solid-waste-disposal,co2e_100yr,13636.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:56.869095
2,ABW,2017-01-01 00:00:00,2017-12-31 00:00:00,solid-waste-disposal,co2e_20yr,40908.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:56.869095
3,ABW,2018-01-01 00:00:00,2018-12-31 00:00:00,solid-waste-disposal,co2e_20yr,41244.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:56.869095
4,AFG,2015-01-01 00:00:00,2015-12-31 00:00:00,solid-waste-disposal,ch4,21000.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:56.869095

In [5]:
df_waste.tail()

,iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity,created_date,modified_date
8780,GBR,2017-01-01 00:00:00,2017-12-31 00:00:00,solid-waste-disposal,co2e_100yr,7934724.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:59.847007
8781,GBR,2017-01-01 00:00:00,2017-12-31 00:00:00,solid-waste-disposal,co2e_20yr,23804172.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:59.847007
8782,IND,2016-01-01 00:00:00,2016-12-31 00:00:00,solid-waste-disposal,ch4,940047.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:30:00.440111
8783,IND,2016-01-01 00:00:00,2016-12-31 00:00:00,solid-waste-disposal,co2e_20yr,78963948.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:30:00.440111
8784,SRB,2016-01-01 00:00:00,2016-12-31 00:00:00,solid-waste-disposal,co2e_20yr,3123540.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:30:02.745647

In [6]:
df_waste.shape

(8785, 10)

In [7]:
df_waste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8785 entries, 0 to 8784
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8785 non-null   object
 1   start_time                 8785 non-null   object
 2   end_time                   8785 non-null   object
 3   original_inventory_sector  8785 non-null   object
 4   gas                        8785 non-null   object
 5   emissions_quantity         8785 non-null   float64
 6   emissions_quantity_units   8785 non-null   object
 7   temporal_granularity       5820 non-null   object
 8   created_date               8785 non-null   object
 9   modified_date              5820 non-null   object
dtypes: float64(1), object(9)
memory usage: 686.5+ KB

In [8]:
df_waste.columns

Index(['iso3_country', 'start_time', 'end_time', 'original_inventory_sector',
       'gas', 'emissions_quantity', 'emissions_quantity_units',
       'temporal_granularity', 'created_date', 'modified_date'],
      dtype='object')

# Describing data

In [9]:
df_waste.describe()

       emissions_quantity
count        8.785000e+03
mean         3.328792e+06
std          2.224526e+07
min          0.000000e+00
25%          0.000000e+00
50%          5.550000e+02
75%          3.416000e+05
max          4.665535e+08

In [10]:
# Calculating quartiles
q1 = df_waste['emissions_quantity'].quantile(0.25)
q2 = df_waste['emissions_quantity'].quantile(0.50)
q3 = df_waste['emissions_quantity'].quantile(0.75)

In [11]:
print("Q1:", q1)

Q1: 0.0

In [12]:
q2

555.0

In [13]:
q3

341600.0

In [14]:
std_dev = df_waste['emissions_quantity'].std()

In [15]:
std_dev

22245259.298153087

In [16]:
mean = df_waste['emissions_quantity'].mean()

In [17]:
mean

3328791.5494433693

In [18]:
two_std_devs_away = mean + (2 * std_dev)

In [19]:
two_std_devs_away

47819310.14574955

In [20]:
two_std_devs_away_1 = mean - (2 * std_dev)

In [21]:
two_std_devs_away_1

-41161727.0468628

In [22]:
lower_bound = mean - (2 * std_dev)

In [23]:
lower_bound

-41161727.0468628

In [24]:
upper_bound = mean + (2 * std_dev)

In [25]:
upper_bound

47819310.14574955

In [26]:
#Defining outliers 
outliers = df_waste[(df_waste['emissions_quantity'] < lower_bound) | (df_waste['emissions_quantity'] > upper_bound)]

In [27]:
outliers

,iso3_country,start_time,end_time,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units,temporal_granularity,created_date,modified_date
457,BRA,2021-01-01 00:00:00,2021-12-31 00:00:00,solid-waste-disposal,co2e_100yr,59360000.0,tonnes,annual,2022-09-07 09:56:37.90632,2022-10-20 18:29:59.248878
458,BRA,2021-01-01 00:00:00,2021-12-31 00:00:00,solid-waste-disposal,co2e_20yr,178080000.0,tonnes,annual,2022-09-07 09:56:37.90632,2022-10-20 18:29:59.248878
459,BRA,2015-01-01 00:00:00,2015-12-31 00:00:00,solid-waste-disposal,co2e_100yr,57960000.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:59.248878
460,BRA,2016-01-01 00:00:00,2016-12-31 00:00:00,solid-waste-disposal,co2e_100yr,58240000.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:59.248878
461,BRA,2016-01-01 00:00:00,2016-12-31 00:00:00,solid-waste-disposal,co2e_20yr,174720000.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:29:59.248878
...,...,...,...,...,...,...,...,...,...,...
8246,TUR,2017-01-01 00:00:00,2017-12-31 00:00:00,solid-waste-disposal,co2e_20yr,136920000.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:30:02.745647
8264,USA,2017-01-01 00:00:00,2017-12-31 00:00:00,solid-waste-disposal,co2e_100yr,155517824.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:30:03.339359
8265,USA,2017-01-01 00:00:00,2017-12-31 00:00:00,solid-waste-disposal,co2e_20yr,466553472.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:30:03.339359
8705,IND,2021-01-01 00:00:00,2021-12-31 00:00:00,solid-waste-disposal,co2e_20yr,78963948.0,tonnes,annual,2022-09-07 09:56:37.90632,2022-10-20 18:30:00.440111
8783,IND,2016-01-01 00:00:00,2016-12-31 00:00:00,solid-waste-disposal,co2e_20yr,78963948.0,tonnes,annual,2022-09-06 12:39:52.76017,2022-10-20 18:30:00.440111

In [28]:
#calculate data values of 0,00 
zero_count = (df_waste['emissions_quantity'] == 0.00).sum()

In [29]:
zero_count

4249

# Missing values

In [30]:
df_waste.isnull().sum()

iso3_country                    0
start_time                      0
end_time                        0
original_inventory_sector       0
gas                             0
emissions_quantity              0
emissions_quantity_units        0
temporal_granularity         2965
created_date                    0
modified_date                2965
dtype: int64

In [31]:
#Deleting the columns with the missing values since I don't need them. Also I delete the column 'created_date' for the same reason

df_waste = df_waste.drop(columns=['temporal_granularity', 'modified_date', 'created_date'])

# Checking for duplicates

In [32]:
df_dups = df_waste[df_waste.duplicated()]

In [33]:
df_dups

Empty DataFrame
Columns: [iso3_country, start_time, end_time, original_inventory_sector, gas, emissions_quantity, emissions_quantity_units]
Index: []

**No duplicates were found**

# Changing names of the columns

In [34]:
df_waste = df_waste.rename(columns={'iso3_country':'Country', 'start_time':'Year', 'original_inventory_sector':'Type of emissions', 'gas':'Gas type', 'emissions_quantity':'Emissions quantity', 'emissions_quantity': 'Emissions quantity', 'emissions_quantity_units': 'Emissions quantity units'})

In [35]:
#Deleting the columm 'end_time'
df_waste = df_waste.drop(columns=['end_time'])

In [36]:
df_waste.columns

Index(['Country', 'Year', 'Type of emissions', 'Gas type',
       'Emissions quantity', 'Emissions quantity units'],
      dtype='object')

# Changing names of values in some columns

In [37]:
#Changing names of values in the column "Year"

name_mapping_Year = {'2015-01-01 00:00:00': '2015', '2016-01-01 00:00:00': '2016', '2017-01-01 00:00:00': '2017', '2018-01-01 00:00:00':'2018', '2019-01-01 00:00:00':'2019', '2020-01-01 00:00:00':'2020', '2021-01-01 00:00:00':'2021'}

In [38]:
df_waste['Year'] = df_waste['Year'].replace(name_mapping_Year)

In [39]:
df_waste['Year'].value_counts()

2017    1255
2018    1255
2015    1255
2016    1255
2020    1255
2019    1255
2021    1255
Name: Year, dtype: int64

In [40]:
#Changing names of the countries starting with A

name_mapping_A = {'ABW': 'Aruba', 'AFG': 'Afganistan', 'AGO': 'Angola', 'AIA': 'Anguilla', 'ALA': 'Åland Islands', 'ALB':'Albania', 'AND':'Andorra', 'ARE': 'United Arab Emirates', 'ARG': 'Argentina', 'ARM':'Armenia', 'ASM': 'American Samoa', 'ATA': 'Antarctica', 'ATF': 'French Southern Territories', 'ATG': 'Antigua and Barbuda', 'AUS': 'Australia', 'AUT': 'Austria', 'AZE': 'Azerbaijan'}

In [41]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_A)

In [42]:
#Changing names of the countries starting with B

name_mapping_B = {'BDI': 'Burundi', 'BEL': 'Belgium', 'BEN': 'Benin', 'BES': 'Bonaire, Sint Eustatius and Saba', 'BFA': 'Burkina Faso', 'BGD': 'Bangladesh', 'BGR': 'Bulgaria', 'BHR': 'Bahrain', 'BHS': 'Bahamas', 'BIH': 'Bosnia and Herzegovina', 'BLM': 'Saint Barthélemy', 'BLR': 'Belarus', 'BLZ': 'Belize', 'BMU': 'Bermuda', 'BOL': 'Bolivia', 'BRA': 'Brazil', 'BRB': 'Barbados', 'BRN': 'Brunei Darussalam', 'BTN': 'Bhutan', 'BVT': 'Bouvet Island', 'BWA': 'Botswana'}

In [43]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_B)

In [44]:
#Changing names of the countries starting with C

name_mapping_C = {'CAF': 'Central African Republic', 'CAN': 'Canada', 'CCK': 'Cocos (Keeling) Islands', 'CHE': 'Switzerland', 'CHL': 'Chile', 'CHN': 'China', 'CIV': 'Côte dIvoire', 'CMR': 'Cameroon', 'COD': 'Congo, Democratic Republic of the', 'COG': 'Congo', 'COK': 'Cook Islands', 'COL': 'Colombia', 'COM': 'Comoros', 'CPV': 'Cabo Verde', 'CRI': 'Costa Rica', 'CUB': 'Cuba', 'CUW': 'Curaçao', 'CXR': 'Christmas Island', 'CYM': 'Cayman Islands', 'CYP': 'Cyprus', 'CZE': 'Czechia'}

In [45]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_C)

In [46]:
#Changing names of the countries starting with D

name_mapping_D = {'DEU': 'Germany', 'DJI': 'Djibouti', 'DMA': 'Dominica', 'DNK': 'Denmark', 'DOM': 'Dominican Republic', 'DZA': 'Algeria'}

In [47]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_D)

In [48]:
#Changing names of the countries starting with E

name_mapping_E = {'ECU': 'Ecuador', 'EGY': 'Egypt', 'ERI': 'Eritrea', 'ESH': 'Western Sahara', 'ESP': 'Spain', 'EST': 'Estonia', 'ETH': 'Ethiopia'}

In [49]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_E)

In [50]:
#Changing names of the countries starting with F

name_mapping_F = {'FIN': 'Finland', 'FJI': 'Fiji', 'FLK': 'Falkland Islands', 'FRA': 'France', 'FRO': 'Faroe Islands', 'FSM': 'Micronesia'}

In [51]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_F)

In [52]:
#Changing names of the countries starting with G

name_mapping_G = {'GAB': 'Gabon', 'GBR': 'United Kingdom of Great Britain and Northern Ireland', 'GEO': 'Georgia', 'GGY': 'Guernsey', 'GHA': 'Ghana', 'GIB': 'Gibraltar', 'GIN': 'Guinea', 'GLP': 'Guadeloupe', 'GMB': 'Gambia', 'GNB': 'Guinea-Bissau', 'GNQ': 'Equatorial Guinea', 'GRC': 'Greece', 'GRD': 'Grenada', 'GRL': 'Greenland', 'GTM': 'Guatemala', 'GUF': 'French Guiana', 'GUM': 'Guam', 'GUY': 'Guyana'}

In [53]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_G)

In [54]:
#Changing names of the countries starting with H

name_mapping_H = {'HKG': 'Hong Kong', 'HMD': 'Heard Island and McDonald Islands', 'HND': 'Honduras', 'HRV': 'Croatia', 'HTI': 'Haiti', 'HUN': 'Hungary'}

In [55]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_H)

In [56]:
#Changing names of the countries starting with I

name_mapping_I = {'IDN': 'Indonesia', 'IMN': 'Isle of Man', 'IND': 'India', 'IOT': 'British Indian Ocean Territory', 'IRL': 'Ireland', 'IRN': 'Iran', 'IRQ': 'Iraq', 'ISL': 'Iceland', 'ISR': 'Israel', 'ITA': 'Italy'}

In [57]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_I)

In [58]:
#Changing names of the countries starting with J

name_mapping_J = {'JAM': 'Jamaica', 'JEY': 'Jersey', 'JOR': 'Jordan', 'JPN': 'Japan'}

In [59]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_J)

In [60]:
#Changing names of the countries starting with K

name_mapping_K = {'KAZ': 'Kazakhstan', 'KEN': 'Kenya', 'KGZ': 'Kyrgyzstan', 'KHM': 'Cambodia', 'KIR': 'Kiribati', 'KNA': 'Saint Kitts and Nevis', 'KOR': 'Korea, the Republic of', 'KWT': 'Kuwait'}

In [61]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_K)

In [62]:
#Changing names of the countries starting with L

name_mapping_L = {'LAO': 'Lao Peoples Democratic Republic', 'LBN': 'Lebanon', 'LBR': 'Liberia', 'LBY': 'Libya', 'LCA': 'Saint Lucia', 'LIE': 'Liechtenstein', 'LKA': 'Sri Lanka', 'LSO': 'Lesotho', 'LTU': 'Lithuania', 'LUX': 'Luxembourg', 'LVA': 'Latvia'}

In [63]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_L)

In [64]:
#Changing names of the countries starting with M

name_mapping_M = {'MAC': 'Macao', 'MAF': 'Saint Martin, French part', 'MAR': 'Morocco', 'MCO': 'Monaco', 'MDA': 'Moldova', 'MDG': 'Madagascar', 'MDV': 'Maldives', 'MEX': 'Mexico', 'MHL': 'Marshall Islands', 'MKD': 'Republic of North Macedonia', 'MLI': 'Mali', 'MLT': 'Malta', 'MMR': 'Myanmar', 'MNE': 'Montenegro', 'MNG': 'Mongolia','MNP': 'Northern Mariana Islands', 'MOZ':'Mozambique', 'MRT': 'Mauritania', 'MSR': 'Montserrat', 'MTQ': 'Martinique', 'MUS': 'Mauritius', 'MWI': 'Malawi', 'MYS': 'Malaysia', 'MYT': 'Mayotte'}

In [65]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_M)

In [66]:
#Changing names of the countries starting with N

name_mapping_N = {'NAM': 'Namibia', 'NCL': 'New Caledonia', 'NER': 'Niger', 'NFK': 'Norfolk Island', 'NGA': 'Nigeria', 'NIC': 'Nicaragua','NIU': 'Niue', 'NLD': 'Netherlands', 'NOR': 'Norway', 'NPL': 'Nepal', 'NRU': 'Nauru', 'NZL':'New Zealand'}

In [67]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_N)

In [68]:
#Changing names of the countries starting with O

name_mapping_O = {'OMN': 'Oman'}

In [69]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_O)

In [70]:
#Changing names of the countries starting with P

name_mapping_P = {'PAK': 'Pakistan', 'PAN': 'Panama', 'PCN': 'Pitcairn', 'PER': 'Peru', 'PHL': 'Philippines', 'PLW': 'Palau', 'PNG': 'Papua New Guinea', 'POL': 'Poland', 'PRI': 'Puerto Rico','PRK':'Korea, the Democratic Peoples Republic of', 'PRT': 'Portugal', 'PRY': 'Paraguay', 'PSE': 'Palestine', 'PYF': 'French Polynesia'}

In [71]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_P)

In [72]:
#Changing names of the countries starting with Q

name_mapping_Q = {'QAT': 'Qatar'}

In [73]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_Q)

In [74]:
#Changing names of the countries starting with R

name_mapping_R = {'REU': 'Réunion', 'ROU': 'Romania', 'RUS': 'Russian Federation', 'RWA': 'Rwanda'}

In [75]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_R)

In [76]:
#Changing names of the countries starting with S

name_mapping_S = {'SAU': 'Saudi Arabia', 'SDN': 'Sudan', 'SEN': 'Senegal', 'SGP': 'Singapore', 'SGS': 'South Georgia and the South Sandwich Islands', 'SHN': 'Saint Helena, Ascension and Tristan da Cunha', 'SJM': 'Svalbard and Jan Mayen', 'SLB': 'Solomon Islands', 'SLE': 'Sierra Leone', 'SLV': 'El Salvador', 'SMR':'San Marino', 'SOM': 'Somalia', 'SPM': 'Saint Pierre and Miquelon', 'SRB': 'Serbia', 'SSD': 'South Sudan', 'STP': 'Sao Tome and Principe', 'SUR': 'Suriname', 'SVK': 'Slovakia', 'SVN': 'Slovenia', 'SWE': 'Sweden', 'SWZ': 'Eswatini', 'SXM': 'Sint Maarten, Dutch part', 'SYC': 'Seychelles', 'SYR': 'Syrian Arab Republic'}

In [77]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_S)

In [78]:
#Changing names of the countries starting with T

name_mapping_T = {'TCA': 'Turks and Caicos Islands', 'TCD': 'Chad', 'TGO': 'Togo', 'THA': 'Thailand', 'TJK': 'Tajikistan', 'TKL': 'Tokelau', 'TKM': 'Turkmenistan', 'TLS': 'Timor-Leste', 'TON': 'Tonga', 'TTO': 'Trinidad and Tobago', 'TUN': 'Tunisia', 'TUR': 'Turkey', 'TUV': 'Tuvalu', 'TWN': 'Taiwan', 'TZA': 'Tanzania'}

In [79]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_T)

In [80]:
#Changing names of the countries starting with U

name_mapping_U = {'UGA': 'Uganda', 'UKR': 'Ukraine', 'UMI': 'United States Minor Outlying Islands', 'URY': 'Uruguay', 'USA': 'United States of America', 'UZB': 'Uzbekistan'}

In [81]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_U)

In [82]:
#Changing names of the countries starting with V

name_mapping_V = {'VAT': 'Holy See', 'VCT': 'Saint Vincent and the Grenadines', 'VEN': 'Venezuela', 'VGB': 'Virgin Islands, British', 'VIR': 'Virgin Islands, US', 'VNM': 'Viet Nam', 'VUT': 'Vanuatu'}

In [83]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_V)

In [84]:
#Changing names of the countries starting with W

name_mapping_W = {'WLF': 'Wallis and Futuna', 'WSM': 'Samoa'}

In [85]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_W)

In [86]:
#Changing names of the countries starting with X

name_mapping_X = {'XKX': 'Kosovo'}

In [87]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_X)

In [88]:
#Changing names of the countries starting with Y

name_mapping_Y = {'YEM': 'Yemen'}

In [89]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_Y)

In [90]:
#Changing names of the countries starting with Z

name_mapping_Z = {'ZAF': 'South Africa', 'ZMB': 'Zambia', 'ZWE': 'Zimbabwe'}

In [91]:
df_waste['Country'] = df_waste['Country'].replace(name_mapping_Z)

In [92]:
#Checking unique values in the column 'Country'
unique_values = df_waste['Country'].unique()

In [93]:
unique_values

array(['Aruba', 'Afganistan', 'Angola', 'Anguilla', 'Åland Islands',
       'Albania', 'Andorra', 'United Arab Emirates', 'Argentina',
       'Armenia', 'American Samoa', 'Antarctica',
       'French Southern Territories', 'Antigua and Barbuda', 'Australia',
       'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin',
       'Bonaire, Sint Eustatius and Saba', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina',
       'Saint Barthélemy', 'Belarus', 'Belize', 'Bermuda', 'Bolivia',
       'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Bouvet Island', 'Botswana', 'Central African Republic', 'Canada',
       'Cocos (Keeling) Islands', 'Chile', 'China', 'Côte dIvoire',
       'Cameroon', 'Congo, Democratic Republic of the', 'Congo',
       'Cook Islands', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Curaçao', 'Republic of North Macedonia', 'Egypt', 'Eritrea',
       'Western Sahara', 'France', 'Faroe Islands', 'Micronesia', 'Gabon',
       'United Kingdom of Great Britain and Northern Ireland', 'Guernsey',
       'Ghana', 'Gibraltar', 'Guinea', 'Guadeloupe', 'Guinea-Bissau',
       'Equatorial Guinea', 'Grenada', 'Greenland', 'Guatemala', 'Guam',
       'Hong Kong', 'Heard Island and McDonald Islands', 'Honduras',
       'Haiti', 'Isle of Man', 'British Indian Ocean Territory',
       'Ireland', 'Iran', 'Iraq', 'Jamaica', 'Jersey', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Saint Kitts and Nevis', 'Kuwait',
       'Lao Peoples Democratic Republic', 'Lebanon', 'Liberia', 'Libya',
       'Saint Lucia', 'Liechtenstein', 'Lesotho',
       'Saint Martin, French part', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Mexico', 'Marshall Islands', 'Myanmar',
       'Montenegro', 'Mongolia', 'Northern Mariana Islands', 'Mozambique',
       'Mauritania', 'Montserrat', 'Martinique', 'Mauritius', 'Malawi',
       'Mayotte', 'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua',
       'Niue', 'Nepal', 'Nauru', 'New Zealand', 'Oman', 'Pakistan',
       'Panama', 'Pitcairn', 'Palau', 'Poland', 'Puerto Rico',
       'Korea, the Democratic Peoples Republic of', 'Portugal',
       'Paraguay', 'Palestine', 'French Polynesia', 'Qatar', 'Réunion',
       'Russian Federation', 'Rwanda', 'SCG', 'Sudan', 'Singapore',
       'South Georgia and the South Sandwich Islands',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Svalbard and Jan Mayen', 'Solomon Islands', 'Sierra Leone',
       'El Salvador', 'San Marino', 'Somalia', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Sweden', 'Eswatini',
       'Sint Maarten, Dutch part', 'Seychelles', 'Syrian Arab Republic',
       'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Tokelau',
       'Turkmenistan', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Tuvalu', 'Tanzania', 'United States Minor Outlying Islands',
       'Uruguay', 'Uzbekistan', 'Holy See', 'Venezuela',
       'Virgin Islands, British', 'Virgin Islands, US',
       'Wallis and Futuna', 'Samoa', 'Kosovo', 'Yemen', 'South Africa',
       'Zambia', 'Christmas Island', 'Cayman Islands',
       'Dominican Republic', 'Algeria', 'Ecuador', 'Switzerland', 'Cuba',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji',
       'Falkland Islands', 'Georgia', 'Gambia', 'Greece', 'French Guiana',
       'Guyana', 'Croatia', 'Hungary', 'Indonesia', 'India', 'Iceland',
       'Israel', 'Italy', 'Japan', 'Korea, the Republic of', 'Sri Lanka',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao', 'Maldives',
       'Saint Pierre and Miquelon', 'Slovakia', 'Slovenia',
       'Turks and Caicos Islands', 'Timor-Leste', 'Turkey', 'Taiwan',
       'Uganda', 'Ukraine', 'United States of America',
       'Saint Vincent and the Grenadines', 'Viet Nam', 'Vanuatu',
       'Zimbabwe', 'Mali', 'Malta', 'Malaysia', 'Namibia',
       'New Caledonia', 'Netherlands', 'Norway', 'Peru', 'Philippines',
       'Papua New Guinea', 'Romania', 'Saudi Arabia', 'Senegal'],
      dtype=object)

In [94]:
df_waste['Country'].value_counts()

Aruba                                   35
United States Minor Outlying Islands    35
Seychelles                              35
Syrian Arab Republic                    35
Chad                                    35
                                        ..
Cambodia                                35
Kiribati                                35
Saint Kitts and Nevis                   35
Kuwait                                  35
Senegal                                 35
Name: Country, Length: 251, dtype: int64

In [95]:
df_waste.head()

,Country,Year,Type of emissions,Gas type,Emissions quantity,Emissions quantity units
0,Aruba,2017,solid-waste-disposal,ch4,487.0,tonnes
1,Aruba,2017,solid-waste-disposal,co2e_100yr,13636.0,tonnes
2,Aruba,2017,solid-waste-disposal,co2e_20yr,40908.0,tonnes
3,Aruba,2018,solid-waste-disposal,co2e_20yr,41244.0,tonnes
4,Afganistan,2015,solid-waste-disposal,ch4,21000.0,tonnes

# Exporting the dataframe

In [96]:
df_waste.to_csv(os.path.join(path, 'Prepared Data', 'Solid_waste_wrangeled.csv'))