# WMG data set - cleaning the data

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import os

In [2]:
path = r'/Users/alexbor/Desktop/Data Analytics/Immersion/Submissions/6. Advanced Analytics/Project_Waste in the world'

In [3]:
#Import dataframe 

df_wmg = pd.read_csv(os.path.join(path,'Original data','WMG_2019-2022.csv'), index_col = False)

In [4]:
df_wmg.head()

   iso               country  WMG.2019  WMG.2020  WMG 2021  WMG 2022
0  AFG           Afghanistan       0.0       0.0       4.4       4.4
1  AGO                Angola       0.0       0.0       9.6       9.6
2  ALB               Albania       0.0       0.0      13.4      13.4
3  ARE  United Arab Emirates      26.8      26.8      43.4      43.4
4  ARG             Argentina      44.6      44.6      42.4      42.4

# Exploring the dataframe

In [5]:
df_wmg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   iso       180 non-null    object
 1   country   180 non-null    object
 2   WMG.2019  180 non-null    float64
 3   WMG.2020  180 non-null    float64
 4   WMG 2021  180 non-null    float64
 5   WMG 2022  180 non-null    float64
dtypes: float64(4), object(2)
memory usage: 8.6+ KB

In [6]:
df_wmg.shape

(180, 6)

# Describing data

In [7]:
df_wmg.describe()

         WMG.2019    WMG.2020    WMG 2021    WMG 2022
count  180.000000  180.000000  180.000000  180.000000
mean    37.097222   37.097222   35.251111   35.251111
std     36.284371   36.284371   21.352415   21.352415
min      0.000000    0.000000    2.700000    2.700000
25%      0.000000    0.000000   15.650000   15.650000
50%     28.950000   28.950000   31.300000   31.300000
75%     72.875000   72.875000   54.550000   54.550000
max    100.000000  100.000000   79.100000   79.100000

# Missing values

In [8]:
df_wmg.isnull().sum()

iso         0
country     0
WMG.2019    0
WMG.2020    0
WMG 2021    0
WMG 2022    0
dtype: int64

**No missing data**

# Duplicates

In [9]:
df_dups = df_wmg[df_wmg.duplicated()]

In [10]:
df_dups

Empty DataFrame
Columns: [iso, country, WMG.2019, WMG.2020, WMG 2021, WMG 2022]
Index: []

**No duplicates**

# Changing names of the columns

In [11]:
df_wmg = df_wmg.rename(columns={'country':'Country', 'WMG.2019': '2019', 'WMG.2020': '2020', 'WMG 2021': '2021', 'WMG 2022': '2022'})

In [12]:
df_wmg.head()

   iso               Country  2019  2020  2021  2022
0  AFG           Afghanistan   0.0   0.0   4.4   4.4
1  AGO                Angola   0.0   0.0   9.6   9.6
2  ALB               Albania   0.0   0.0  13.4  13.4
3  ARE  United Arab Emirates  26.8  26.8  43.4  43.4
4  ARG             Argentina  44.6  44.6  42.4  42.4

# Further exploration

In [13]:
#Checking Country names

unique_values = df_wmg['Country'].unique()

In [14]:
unique_values

array(['Afghanistan', 'Angola', 'Albania', 'United Arab Emirates',
       'Argentina', 'Armenia', 'Antigua and Barbuda', 'Australia',
       'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin',
       'Burkina Faso', 'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bolivia', 'Brazil',
       'Barbados', 'Brunei Darussalam', 'Bhutan', 'Botswana',
       'Central African Republic', 'Canada', 'Switzerland', 'Chile',
       'China', "Cote d'Ivoire", 'Cameroon', 'Dem. Rep. Congo',
       'Republic of Congo', 'Colombia', 'Comoros', 'Cabo Verde',
       'Costa Rica', 'Cuba', 'Cyprus', 'Czech Republic', 'Germany',
       'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
       'Ecuador', 'Egypt', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'Finland', 'Fiji', 'France', 'Micronesia', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Guinea', 'Gambia',
       'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada',
       'Guatemala', 'Guyana', 'Honduras', 'Croatia', 'Haiti', 'Hungary',
       'Indonesia', 'India', 'Ireland', 'Iran', 'Iraq', 'Iceland',
       'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Kazakhstan',
       'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati', 'South Korea',
       'Kuwait', 'Laos', 'Lebanon', 'Liberia', 'Saint Lucia', 'Sri Lanka',
       'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Morocco',
       'Moldova', 'Madagascar', 'Maldives', 'Mexico', 'Marshall Islands',
       'North Macedonia', 'Mali', 'Malta', 'Myanmar', 'Montenegro',
       'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi',
       'Malaysia', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Papua New Guinea',
       'Poland', 'Portugal', 'Paraguay', 'Qatar', 'Romania', 'Russia',
       'Rwanda', 'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore',
       'Solomon Islands', 'Sierra Leone', 'El Salvador', 'Serbia',
       'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia',
       'Sweden', 'Eswatini', 'Seychelles', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Taiwan', 'Tanzania',
       'Uganda', 'Ukraine', 'Uruguay', 'United States of America',
       'Uzbekistan', 'Saint Vincent and the Grenadines', 'Venezuela',
       'Viet Nam', 'Vanuatu', 'Samoa', 'South Africa', 'Zambia',
       'Zimbabwe'], dtype=object)

In [15]:
df_wmg['Country'].value_counts()

Afghanistan    1
Mongolia       1
Mauritania     1
Mauritius      1
Malawi         1
              ..
Georgia        1
Ghana          1
Guinea         1
Gambia         1
Zimbabwe       1
Name: Country, Length: 180, dtype: int64

# Transposing data

In [16]:
df_transposed = df_wmg.melt(id_vars=['iso', 'Country'], var_name=['Year'], value_name='Value')

In [17]:
df_transposed

     iso               Country  Year  Value
0    AFG           Afghanistan  2019    0.0
1    AGO                Angola  2019    0.0
2    ALB               Albania  2019    0.0
3    ARE  United Arab Emirates  2019   26.8
4    ARG             Argentina  2019   44.6
..   ...                   ...   ...    ...
715  VUT               Vanuatu  2022   36.5
716  WSM                 Samoa  2022   51.2
717  ZAF          South Africa  2022   39.2
718  ZMB                Zambia  2022    6.9
719  ZWE              Zimbabwe  2022   13.3

[720 rows x 4 columns]

# Deleting iso column

In [21]:
df_transposed= df_transposed.drop(columns=['iso'])

In [22]:
df_transposed.head()

                Country  Year  Value
0           Afghanistan  2019    0.0
1                Angola  2019    0.0
2               Albania  2019    0.0
3  United Arab Emirates  2019   26.8
4             Argentina  2019   44.6

# Exporting dataframe

In [23]:
df_transposed.to_csv(os.path.join(path, 'Prepared Data', 'WMG_wrangeled.csv'))